@import url('https://fonts.googleapis.com/css2?family=Asap&family=Libre+Baskerville&display=swap');

html {
    box-sizing: border-box;
}

html {
    height: 100%;
    position: relative;
}

body {
    font-family: 'Asap', sans-serif;
    min-height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: rgb(215, 230, 230);
}

header {
    width: 100%;
    height: 60px;
    line-height: 22px;
    overflow: hidden;
    background-color: rgb(233, 199, 199);
}

footer {
    position: relative;
    height: 50px;
    width: 100%;
}

.top {
    /*Make it fill the full top area*/

    font-family: 'Asap', sans-serif;
    text-align: center;
    position: relative;
}

.explaine {
    display: flex;
    margin: 50px;
}

.background {
    position: relative;
    top: 10px;
    padding: 30px;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px black solid;
}

.background h1 {
    font-weight: bold;
}

article,
li {
    font-weight: bold;
}

.ps {
    padding: 30px;
    position: relative;
    top: 10px;
    border: 2px solid black;
    margin-left: 5%;
    margin-right: 5%;
}

.haf-with {
    width: 85%;
}

.ps input {
    outline: none;
    border: none;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
    background: none;
}

.btn {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    align-items: center;
}

.ps:hover {
    background-color: rgb(184, 248, 193);
}

.background:hover {
    background-color: rgb(184, 248, 193);
}

.more-info {
    /*Make it at the bottom*/
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    padding: 10px;
    background-color: rgb(184, 248, 193);
}